@charset "UTF-8";

    .card{
        display:inline-block;
        background-color: lightgray;
        width: 100px;
        height: 150px;
        text-align:center;
        vertical-align:middle;
        margin:2px;
        line-height:4.5em;
        font-size:xx-large;
        border:solid;
        border-color:black;
    }